.ReactCrop__crop-selection {
  border: 2px solid #3b82f6; /* blue-500 */
}

.ReactCrop__drag-handle {
  background-color: #3b82f6;
  border-radius: 50%;
}
.ReactCrop__crop-selection {
  background-image: none !important;
}
.crop-bg {
  background-image: url(../assets/images/crop-bg.svg);
  background-repeat: repeat;
  background-size: 3%;
}
.ReactCrop {
  /* height: 100% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center; */
}

/* 이미지 로드 전 크기 방지 */
/* .ReactCrop__child-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.ReactCrop,
.ReactCrop__child-wrapper {
  height: 100%;
}

.ReactCrop__child-wrapper {
  align-items: stretch !important;
}

.ReactCrop img {
  display: block;
  height: 100%;
}
