@import "tailwindcss";
@import url("//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

html,
body {
  font-family: "Escoredream", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 전체 글꼴  */
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream1.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream2.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream3.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream4.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream5.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream6.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream7.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream8.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream9.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

/* 청첩장 폰트 설정 글꼴 */

@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjo.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoBold.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoExtraBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Eulyoo1945";
  src: url("/fonts/Eulyoo1945-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ridibatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "KoPubWorlddotum";
  src: url("/fonts/KoPubWorld-Dotum-Medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iropkebatang";
  src: url("/fonts/IropkeBatangM.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SejongGeulggot";
  src: url("/fonts/SejongGeulggot.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SchoolSafetyPictureDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "GabiaGosranche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2409-2@1.0/GabiaGosran-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.woff") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@keyframes save-pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
