@import "tailwindcss";

html,
body {
  font-family: "Escoredream", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream1.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream2.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream3.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream4.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream5.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream6.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream7.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream8.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Escoredream";
  src: url("/fonts/SCDream9.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
